@import "tailwindcss";

:root {
  /* Default Light Mode */
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1E3A8A;   /* Biru */
  --secondary: #FACC15; /* Kuning */
}

/* KUNCI: Gunakan selector .dark supaya nurut sama Toggle */
.dark {
  --background: #0a0a0a; /* Warna background saat mode gelap */
  --foreground: #ededed;
  /* Lo bisa ubah --primary di sini kalau mau birunya beda di dark mode */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Pakai variabel font Geist biar lebih modern sesuai setup layout.tsx lo */
  font-family: var(--font-geist-sans), Arial, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}